<!DOCTYPE html>
<html lang="en" ng-app="profileApp">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:image" content="http://github.com/devherehere/igapp/blob/gh-pages/images/zigoig.jpg">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://devherehere.github.io/igapp/">
  <title></title>
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="bower_components/uikit/css/uikit.gradient.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="bower_components/uikit/js/uikit.min.js"></script>


  <script>
    //google analatics
    (function(i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-66889611-1', 'auto');
    ga('send', 'pageview');
    //facebook
    window.fbAsyncInit = function() {
      FB.init({
        appId: '1629772610604453',
        xfbml: true,
        version: 'v2.4'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {
        return;
      }
      js = d.createElement(s);
      js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    //twitter
    ! function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        p = /^http:/.test(d.location) ? 'http' : 'https';
      if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + '://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js, fjs);
      }
    }(document, 'script', 'twitter-wjs');
  </script>

  <style>
    @font-face {
      font-family: MAX_PINJOHN;
      src: url('MAX_PINJOHN.ttf');
    }

    @font-face {
      font-family: Fontcraft;
      src: url('Fontcraft.otf');
    }
  </style>

</head>


<body>


  <div id="page">
    <div id="content_container" ng-controller="igController" ng-init="mock = 0" class="desktop-bg">
      <div class="content">
        <div class="wrap">
          <canvas id="resultCanvas" style="display:inline-block;" width="612" height="612"></canvas>
          <div style="margin-bottom:10px;text-align:center">
          </div>

          <label for="title">คาถาเชียร์ช้างศึก</label>
          <input name="title" type="text" ng-model="result.title" class="titleInput" />

          <label for="subtitle">คำแนะนำทีมช้างศึก</label>
          <input name="subtitle" type="text" ng-model="result.subtitle" class="titleInput" />
          <a ng-if="(isLogin == 2)" href="#" class="fb button" ng-click="login()"> Login With Facebook เพื่อใช้ภาพโปรไฟล์</a>
          <a href="#" class="logout fb button ng-scope" ng-if="(isLogin == 1)" ng-click="shareResult()">แชร์ไปที่เฟสบุ้ก</a>
          <a class="fb button" id="download"> Download ภาพนี้ </a>

        </div>


        <div class="mock-container">
          <div class="mock-wrap">
            <div class="mock" ng-click="selectTheme(0)">
              <div class="pic-wrap">
                <img src="images/zigoig.jpg">
              </div>
              <p>post photo</p>
            </div>
            <div class="mock" ng-click="selectTheme(1)">
              <div class="pic-wrap">
                <img src="images/zigocover.jpg">
              </div>
              <p>Cover Facebook</p>
            </div>
          </div>
        </div>

        <div class="social-box">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://devherehere.github.io/igapp/" data-text="ร่วมใจส่งแรงเชียร์ทีมชาติไทย !!" data-via="devherehere" data-lang="th">ทวีต</a>
          <div class="fb-share-button" data-href="http://devherehere.github.io/igapp/" data-layout="button_count"></div>
        </div>

      </div>
      <canvas id="fontCanvas" style="opacity:0;"></canvas>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-facebook/lib/angular-facebook.js"></script>
  <script src="bower_components/ngAnimate-animate.css/animate.js"></script>
  <script src="bower_components/ngFitText/src/ng-FitText.js"></script>
  <script src="profile-app.js"></script>
  <script src="ig-app.js"></script>
</body>

</html>
